@import "../../vars.css";

.container{
    position: relative;
    background-color: rgba(12, 12, 12, 0.6);
    border-radius: 15px;
    padding: 73px;
    margin-top: 129px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.title{
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.7px;
    text-transform: uppercase;
}
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.aoutImage{
    width: 35%;
}
.aboutItems{
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.aboutItem {
    display: flex;
    flex-direction: ro;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(
        90deg,
        rgba(165, 215, 232, 0.42) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;

}
/* Hover on the text */
.aboutItem:hover{
    background-size: 100% 100%;
}
.aboutItems p{
    /* justify content */
    text-align: justify;
    text-justify: inter-word;
    
}


.aboutItem h3{
    font-family: 25px;
    font-weight: 800;
}
.aboutItem p{
    font-size: 25px;
}
@media screen and (max-width: 830px) {
    .container{
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }
    .content{
        flex-direction: column;
    }
    .aoutImage{
        display: none;
    }
    .aboutItems{
        margin-top: 29px;
    }
    .aboutItem{
        padding-left: 0;
        padding-right: 0;
    }
    
}





